services:
    ## Listens on the command line
    kernel.listener.command_dispatch:
        class: EXS\ErrorBundle\Services\Listeners\ConsoleExceptionListener
        arguments:
            logger: "@exs.exception_log_manager"
        tags:
            - { name: kernel.event_listener, event: console.exception }
    ## Manages the entity for exceptions
    exs.exception_log_manager:
        class: EXS\ErrorBundle\Services\Loggers\ExceptionLogManager
        arguments: [@exs.exception4xx_logger, @exs.exception5xx_logger]
    exs.exception4xx_logger:
        class: EXS\ErrorBundle\Services\Loggers\Exception4xxLogger
        arguments: [@doctrine]
    exs.exception5xx_logger:
        class: EXS\ErrorBundle\Services\Loggers\Exception5xxLogger
        arguments: [@doctrine]

    ## Subscriber for php errors and exceptions
    exs.exception_subscriber:
        class: EXS\ErrorBundle\Services\Listeners\ExceptionSubscriber
        arguments: [@kernel, @exs.exception_log_manager]
        tags:
            - { name: kernel.event_subscriber }