services:
    ## Listens for php errors and exceptions
    exs.exception_listener:
        class: EXS\ErrorBundle\Services\Listeners\ExceptionListener
        arguments: [@kernel, @exs.exception_log_manager]
        tags:
          - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 0 }
    ## Manages the entity for exceptions
    exs.exception_log_manager:
        class: EXS\ErrorBundle\Services\Loggers\ExceptionLogManager
        arguments: [@exs.exception4xx_logger, @exs.exception5xx_logger]
    exs.exception4xx_logger:
        class: EXS\ErrorBundle\Services\Loggers\Exception4xxLogger
        arguments: [@doctrine.orm.entity_manager]
    exs.exception5xx_logger:
        class: EXS\ErrorBundle\Services\Loggers\Exception5xxLogger
        arguments: [@doctrine.orm.entity_manager]
